/* ----------    General items       ---------- */


/*
font-family: "darkmode-on", sans-serif;
font-weight: 400;
font-style: normal;
*/

/* ----- Wrapper ----- */

.wrapper{
    margin: auto;
    max-width: 1300px;
}

/* ----- Colours ----- */

body{
    background-color: #efefef;
    color: #1e1e1e;
}

.darktext{
    color: #1e1e1e;
}

/* ----- Links ----- */

a {
    font-family: Arial, Helvetica, sans-serif;
    color: #1e1e1e;
    text-decoration: none;
}

a:hover{
    color: #1f8c9d;
}

/* ----- Text ----- */
p {
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* ----- Divider ----- */

/* Rounded border */
hr.rounded {
    border-top: 2px solid #1f8c9d;
    border-radius: 4px;
}


.resume{
    width: 100%;
    border-top: 1px solid #1f8c9d;
    border-radius: 4px;
}

/* ----- Grid ----- */
.grid{
    display: grid;
    grid-template-areas: ".";
    padding: 1%;
    z-index: 2;
}

.maingrid{
    display: flex;
    column-gap: 10%;
    align-items: center;
}

/* ----- Navbar ----- */

/* navbar grid and list styles*/
.navgrid{
    background-color: #1f8c9d;
    align-content: center;
}
.navgrid > ul{
    display: grid;
    grid-template-areas: ". . . . . . . .";
    margin: 2rem;
    align-items: center;
    min-height: 2%;
    list-style: none;
    font-size: 1.4rem;
    font-style: bold;
    padding-left: 0%;
    padding-right: 0%;
}

.navgrid > ul > li {
    
    padding: 1.5% 0;
}

.navgrid > ul > li > a{
    color: #efefef;
}

.navgrid > ul > li > a:hover{
    color: #b5dee4;
}

.contact{
    grid-column: 8;
    text-align: right;
    display: flex;
    justify-content: right;
}

.contact > a{
    padding-left: 20px;
    font-size: 24px;
}

header > .rounded {
    margin: 0%;
    
}

/* ----- Footer ----- */

/* footer design */
footer{
    background-color: #1f8c9d;
    color: #efefef;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0%;
    padding-top: 0%;
    padding-bottom: 3%;
    padding-left: 0%;
    padding-right: 0%;
}

/* footer link */
footer > a{
    color: #efefef;
    font-size: 1em;
    font-weight: 600;
    padding-left: 0%;
    padding-right: 0%;
}

footer > a:hover{
    color: #b5dee4;
}

#divspace{
    padding-top: 2%;
} 

/* ----------     Main Page       ---------- */

.portrait{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 20px;
    max-height: 20rem;
}

.mainpageskills{
    font-weight: 100;
}

.intro{
    text-align: center;
}

.hometext{
    text-align: center;
    width: 60%;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------     Tiles       ---------- */

.tile{
    display: flex;
    grid-column-gap: 5%;
    padding:0%;
    border-radius: 0.75em;
    /*outline: #1e1e1e;
    outline-width: .1em;
    outline-style: solid;*/
    background-color: #e1e6e7;
    max-height: max-content;
    margin: 0%;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
}

.tile:hover{
    color: #1e1e1e;
    outline: #1f8c9d;
    outline-width: 2px;
    outline-style: solid;
}

.tile::before{
    background: linear-gradient(
    45deg,
    transparent 5%,
    rgb(255, 215, 137) 50%,
    transparent 99%
  );
  border-radius: inherit;
  content: "";
  inset: 1px;
  padding: 1em;
  opacity: 0;
  position: absolute;
  transition: opacity 400ms;
  z-index: 0;
}

#nolink:hover{
    outline: none;
}

.noimage > div{
    padding-left: 5%;
}

.tile > img{
    object-fit: cover;
    object-position: center center;
    border-radius: 0.75em 0 0 0.75em;
    grid-column: 1;
    max-width: 20rem;
    height: 100%;
    scale: auto;
    align-self: center;
    
}

.tile > div{
    grid-column: 2;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: justify;
    hyphens: auto;
}

#space{
   margin-bottom: 4%;
   margin-top: 3%;
}

#stone{
    width: 20rem;
}

.tile > div > h2{
    width: 100%;
}

/* ----------     Tags       ---------- */

.tags{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 0.5em;
}

.tagsproject{
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 0.5em;
    justify-content: center;
}

.tagsproject > .taghome{
    padding: 1%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.taghome{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #b5dee4;
    border-radius: 20px;
    /*border-color: #d4d4d4;
    outline-width: 0.5%;
    outline-style:solid;*/
    padding: 1.5%;
    max-width: 100%;
    text-align: center;
}

.tag{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #b5dee4;
    border-radius: 20px;
    padding: 1.5%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 1%;
}

#first{
    margin-left: 0%;
}

/* ----------     Projects       ---------- */

.padding{
    padding-bottom: 1.5%;
}

h1, h2{
    padding-bottom: 2%;
    padding-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    font-family: Arial, Helvetica, sans-serif;
}
/* ----- Video ----- */

/* Width of video */
.video{
    width: 100%;
    padding: 0%;
}

#bulletlist{
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2%;
}

.columns{
    display: flex;
    flex-wrap: wrap;
}

.columns > div{
    width: 50%;
}

.padding > ul{
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 4%;
    padding-right: 4%;
}

/* ----------     Hamburger Menu       ---------- */

/* ----- General hamburger menu display ----- */

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 4em;
    height: 10em;
    cursor: pointer;
    position: relative;
    overflow: visible;
}

/* ----- Hamburger icon design and position ----- */

.hamburger .innerhamburger, .hamburger .innerhamburger::after,
.hamburger .innerhamburger::before {
    background-color: #1f8c9d;
    border-radius: 4px;
    width: inherit;
    height: 4px;
    position: absolute;
}

.hamburger .innerhamburger::after, .hamburger .innerhamburger::before {
    display: block;
    content: "";
}

.hamburger .innerhamburger::before {top: -20px;}
.hamburger .innerhamburger::after {bottom: -20px;}

/* x design */
.hamburger.active .innerhamburger {transform: rotate(45deg);}
.hamburger.active .innerhamburger::before {
    top: 0;
    opacity: 0;
}

.hamburger.active .innerhamburger::after {
    bottom: 0;
    transform: rotate(-90deg);
}

/* ----------     Videos       ---------- */
.media {
    
}

iframe{
    border-radius: 20px;
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
}

/* ----------     Picture Slider       ---------- */

/* Slideshow container */
.slideshow {
    grid-column: span 3;
    max-width: 80%;
    position: relative;
    margin: auto;
}

/* Caption text */
.caption {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    color: #efefef;
    position: absolute;
    bottom: 2%;
    width: 100%;
    text-align: center;
}

.captiontitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    padding: 15px;
    color: #efefef;
    position: absolute;
    bottom: 45%;
    width: 100%;
    text-align: center;
}

#textdarkbubblr{
    color: #1e1e1e;
}

.slide > img{
    height: 650px;
    object-fit: cover;
    object-position: center center;
    scale: auto;
    width: 100%;
    border-radius: 20px;
}


/* ----- Fading animation ----- */

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* ----- Sliding animation ----- */

.sliding{
    position:relative;
    animation:animateright 0.4s
}

@keyframes animateright
{
    from{right:-300px;opacity:0} 
    to{right:0;opacity:1}
}

/* ----------------     Tablet Size       ---------------- */


@media(max-width: 1280px) {
    

    /* ----- Wrapper ----- */

    .wrapper {
        width: calc(100% - 10vw);
    }

    /* ----- Project pages ----- */

    /* main grid for project pages */
    .project_grid {
        display: grid;
        grid-template-areas: ". .";
        grid-gap: 50px;
    }

    /* image size for images in sliders */
    .image_dimensions{
        width: 100%;
        max-height: 38em;
    }

    .navgrid a{
        display: block;
        padding: 14px 16px;
    }

    .navgrid a:hover{
        color: #1f8c9d;
    }
}

/* ----------------     Phone Size       ---------------- */


@media(max-width: 1000px) {

    /* ----- General Items ----- */

    /* wrapper */
    .wrapper {
        padding: 20px;
    }

    /* link font size */
    a {
        font-size: larger;
    }

    /* Footer */
    .footer{
        font-size: 2em;
    }


    /* ----- Nav Bar ----- */

    /* Font Size */
    .navgrid > ul > li > a {
        font-size: 3em;
    }

    /* ----- About Me Page -----*/
    .maingrid{
        flex-wrap: wrap;
        justify-content: center;
    }

    #text{
        order:2;
    }

    #image{
        order:1;
    }

    .portrait{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }


    .maingrid > div > h1{
        text-align: center;
    }

    .contact{
        font-size: 30px;
        text-align: center;
        justify-content: center;
    }

    /* ----- Hamburger Menu ----- */

    .hamburger {
        display: flex;
    }

    .navgrid {
        width: auto;
    }

    .navgrid.active ul {
        display: block;
    }

    .navgrid > ul {
        display: grid;
        grid-template-areas: ".";
        grid-gap: 30px;
        display: none;
        text-align: center;
    }

    
    /* ----- Project Pages ----- */

    /* main grid */
    .project_grid {
        display: grid;
        grid-template-areas: ".";
        grid-gap: 50px;
    }

    .tile{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 0.75em;
    }

    .tile > img {
        border-radius: 0.75em 0.75em 0 0;
        max-width: 100%;
        height: auto;
    }

    .tile > div{
        padding-left: 1em;
        padding-right: 1em;
    }

    .tags{
        row-gap: 2%;
    }

    /* image size for in slider */
    .image_dimensions{
        width: 100%;
        max-height: 60em;
    }

    .columns > div{
        width: 100%;
    }

    .padding > ul{
        padding-left: 2%;
        padding-right: 2%;
    }
}